.pupi_srs_services-stats {
    display: flex;
    flex-direction: column;
    align-items: start;
}

h2.pupi_srs_services-stats-title {
    margin-block-start: 1.5rem;
}

.pupi_srs_service-header {
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.pupi_srs_service-data-total,
.pupi_srs_service-data-period {
    display: flex;
    column-gap: 1rem;
}

.pupi_srs_service-name,
.pupi_srs_service-data-period-total,
.pupi_srs_service-data-period-name {
    min-width: 9rem;
}

.pupi_srs_service-data-period-name {
    padding-inline-start: 2rem;
}

.pupi_srs_service-header-title,
.pupi_srs_service-data-count {
    width: 7rem;
    text-align: end;
}

.pupi_srs_service-data-total {
    font-weight: bold;

}

.pupi_srs_email-confirmation-warning {
    color: #730707;
    margin-block: 1rem;
}

.pupi_srs_email-confirmation-warning-setting {
    font-weight: bold;
}
