# In order for the web server to process this file it must be renamed to ".htaccess"

Options -Indexes
DirectoryIndex index.php

# rewrite url, configured in admin panel
<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase /

    RewriteCond %{REQUEST_URI} ^(.*)//(.*)$
    RewriteRule . %1/%2 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ index.php?qa-rewrite=$0&%{QUERY_STRING} [L]
</IfModule>

# Restrict access to key data
# <Files "/qa-plugin/sso-authentication/token.key">
#   <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteCond %{REQUEST_FILENAME} !/qa-plugin/sso-authentication/sso-authentication-login.php
#     RewriteRule ^ - [F]
#   </IfModule>
#   Order deny,allow
#   Deny from all
#   <FilesMatch "^sso-authentication-login\.php$">
#     Allow from all
#   </FilesMatch>
# </Files>

# <Files "/var/www/html/db.key">
#   <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteCond %{REQUEST_FILENAME} !qa-config.php
#     RewriteRule ^ - [F]
#   </IfModule>
#   Order deny,allow
#   Deny from all
#   <FilesMatch "^qa-config\.php$">
#     Allow from all
#   </FilesMatch>
# </Files>

